@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: 'Quicksand', sans-serif;
}

